*{font-family: 'Poppins', sans-serif;}

.front {
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    
}
img#logo{
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-top: 15%;


}
.intro-content{
    
    text-align: center;
}
.About-us{
    text-align: center;
}
#mouse-click{
    margin-top: 13%;
    margin-bottom: 20px;

}
h1{
    font-size: xx-large;
}
#service{
   
    background-image: url(../images/assets/backgrounds/s_image.jpg);

}
#service-content{
    text-align: center;
    padding: 50px;
    margin: 50px;
}
.container-fluid{
    background-image: url(../images/assets/backgrounds/c_image.jpg);
}